<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="author" content="João Alvaro de Souza Baptista">
    <title>Trabalhando com Fit e Content</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <style>
        .container {
            border: 2px solid black;
            padding: 16px;
            width: 300px;
            margin-bottom: 16px; 
        }

        .item {
            background-color: blueviolet;
            margin-bottom: 10px;
            padding: 5px;
        }

        .fit-content .item{
            width: fit-content;
        }
        
        .min-content .item{
            width: min-content;
        }

            .max-content .item{
            width: max-content;
        }
    </style>
</head>
<body>
    
    <div class="container fit-content">

        <div class="item">
            lorem
        </div>

        <div class="item">
            Lorem ipsum dolore perspiciatis praesentium ipsam. Eveniet expedita cupiditate repellendus!
        </div>

        <div class="item">
            Ipsum cumque deserunt et asperiores quidem, accusamus consequuntur? Quia cumque laborum vero aspernatur ipsam Dolores adipisci aut consectetur mollitia quae velit Ad explicabo voluptas vel
        </div>
        <div class="item">
            Amet delectus vel eaque est molestiae omnis. Nostrum neque recusandae veniam perferendis tenetur Perspiciatis itaque iure dolor error maxime? Dolorem porro ex sit commodi minima. Rem modi suscipit consequuntur quod eveniet! Aspernatur nulla distinctio itaque quos perspiciatis? Animi culpa quis sunt libero ad? Magni eligendi omnis officia maxime explicabo labore Similique perspiciatis iure rem sed sed molestiae repellat? Et facilis illo exercitationem nisi reiciendis? Quos illo sequi ratione dignissimos magnam nisi. Aut dolorum amet vitae!
        </div>

    </div>
    <div class="container min-content">

        <div class="item">
            lorem
        </div>

        <div class="item">
            Lorem ipsum dolore perspiciatis praesentium ipsam. Eveniet expedita cupiditate repellendus!
        </div>

        <div class="item">
            Ipsum cumque deserunt et asperiores quidem, accusamus consequuntur? Quia cumque laborum vero aspernatur ipsam Dolores adipisci aut consectetur mollitia quae velit Ad explicabo voluptas vel
        </div>
        <div class="item">
            Amet delectus vel eaque est molestiae omnis. Nostrum neque recusandae veniam perferendis tenetur Perspiciatis itaque iure dolor error maxime? Dolorem porro ex sit commodi minima. Rem modi suscipit consequuntur quod eveniet! Aspernatur nulla distinctio itaque quos perspiciatis? Animi culpa quis sunt libero ad? Magni eligendi omnis officia maxime explicabo labore Similique perspiciatis iure rem sed sed molestiae repellat? Et facilis illo exercitationem nisi reiciendis? Quos illo sequi ratione dignissimos magnam nisi. Aut dolorum amet vitae!
        </div>

    </div>
    <div class="container max-content">

        <div class="item">
            lorem
        </div>

        <div class="item">
            Lorem ipsum dolore perspiciatis praesentium ipsam. Eveniet expedita cupiditate repellendus!
        </div>

        <div class="item">
            Ipsum cumque deserunt et asperiores quidem, accusamus consequuntur? Quia cumque laborum vero aspernatur ipsam Dolores adipisci aut consectetur mollitia quae velit Ad explicabo voluptas vel
        </div>
        <div class="item">
            Amet delectus vel eaque est molestiae omnis. Nostrum neque recusandae veniam perferendis tenetur Perspiciatis itaque iure dolor error maxime? Dolorem porro ex sit commodi minima. Rem modi suscipit consequuntur quod eveniet! Aspernatur nulla distinctio itaque quos perspiciatis? Animi culpa quis sunt libero ad? Magni eligendi omnis officia maxime explicabo labore Similique perspiciatis iure rem sed sed molestiae repellat? Et facilis illo exercitationem nisi reiciendis? Quos illo sequi ratione dignissimos magnam nisi. Aut dolorum amet vitae!
        </div>

    </div>

</body>
</html>
