<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="...">
    <meta name="author" content="João Alvaro de Souza Baptista">
    <title>Trabalhando com Position</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <style>
        
        #div1 {
            background-color: rgba(255,0,0,0.5);
            padding: 10px;
            width: 90%;
            height: 100px;
            position: relative;

        }   

        #div2 {
            background-color: rgba(0,255,0,0.5);            
            padding: 10px;
            width: 80%;
            height: 50px;
            position: relative; 


        }

        #div3 {
            background-color: rgba(0,0,255,0.5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 20px;
            right: 20px;
       
        }

    </style>
</head>
<body>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

 
    <p>
    Elit dignissimos in asperiores veritatis optio Perferendis quo pariatur omnis eveniet enim Dolor enim error itaque illum eos quasi quas Asperiores officiis ex cumque eveniet dignissimos Tempore at eligendi laborum
    </p>
    
    <p>
        Amet distinctio quas culpa quasi fuga Earum vero officia earum cumque eum. Quidem voluptatibus ducimus aspernatur laborum obcaecati laborum Hic quos quas nam excepturi officia. Vitae alias fugit quod atque
    </p>

    <p>
        Elit recusandae molestiae amet voluptas unde modi Molestias deleniti fugiat eveniet minus sit? Pariatur culpa obcaecati eos nostrum dolore? Dolorem dignissimos tempora voluptatibus eveniet laboriosam. Doloribus laudantium officiis praesentium delectus.
    </p>

    <p>
        Adipisicing nobis pariatur quisquam labore dolore Recusandae nisi quam eius vero architecto. Explicabo quis tempora nam ab deserunt Architecto cupiditate voluptatem quam laudantium quam fuga quod? Dicta numquam itaque ex?
    </p>

    <p>
        Elit perspiciatis harum iure vitae nesciunt. Dolore impedit a veniam asperiores dolor Asperiores corrupti quaerat doloribus enim animi a magnam praesentium Sequi aut sequi inventore voluptatibus iure Dignissimos esse optio!
    </p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">
                3
            </div>
        </div>
    </div>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

    <p>
        Consectetur reiciendis hic inventore quasi pariatur minus laudantium. Delectus consectetur nisi reprehenderit recusandae maxime facilis animi Omnis accusantium sequi reprehenderit saepe libero. Eius accusantium animi fugiat enim vero Voluptates temporibus
    </p>

 
    <p>
    Elit dignissimos in asperiores veritatis optio Perferendis quo pariatur omnis eveniet enim Dolor enim error itaque illum eos quasi quas Asperiores officiis ex cumque eveniet dignissimos Tempore at eligendi laborum
    </p>
    
    <p>
        Amet distinctio quas culpa quasi fuga Earum vero officia earum cumque eum. Quidem voluptatibus ducimus aspernatur laborum obcaecati laborum Hic quos quas nam excepturi officia. Vitae alias fugit quod atque
    </p>

    <p>
        Elit recusandae molestiae amet voluptas unde modi Molestias deleniti fugiat eveniet minus sit? Pariatur culpa obcaecati eos nostrum dolore? Dolorem dignissimos tempora voluptatibus eveniet laboriosam. Doloribus laudantium officiis praesentium delectus.
    </p>

    <p>
        Adipisicing nobis pariatur quisquam labore dolore Recusandae nisi quam eius vero architecto. Explicabo quis tempora nam ab deserunt Architecto cupiditate voluptatem quam laudantium quam fuga quod? Dicta numquam itaque ex?
    </p>

    <p>
        Elit perspiciatis harum iure vitae nesciunt. Dolore impedit a veniam asperiores dolor Asperiores corrupti quaerat doloribus enim animi a magnam praesentium Sequi aut sequi inventore voluptatibus iure Dignissimos esse optio!
    </p>

</body>
</html>
