@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font: "Roboto", sans-serif;    
    
    --header-footer-color: #2a2a2a;
    --section1-color: #ffff3f;
    --section2-color: #003464;
    --buttom-color: #fed001;

    --header-size: 8rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    width: 100%;
    font-size: 62.5%;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: var(--header-size);
    background-color: var(--header-footer-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
}

.header-logo--img {
    width: 12rem;
    margin-left: 10rem;
}

.header-navigation--options {
    display: flex;
    gap: 2rem;
    font-family: var(--main-font);
    font-size: 1.8rem;
    margin-right: 10rem;
}

.header-navigation--options a {
    color: yellow;
    border: 1px solid yellow;
    padding: .8rem;
}
.header-navigation--options a:hover {
    color: var(--header-footer-color);
    background-color: yellow;
    text-decoration: underline;
}

main {
    width: 100%;
}

.container-hero {
    width: 100%;
    height: calc(100vh - var(--header-size));
    background: linear-gradient(to top, yellow 10%, white);
    display: flex; 
    justify-content: space-between;
}

.container-hero .container-hero--content {
    align-self: center;
    margin-left: 10rem;

}

.container-hero .container-hero--content h2 {
    font-family: var(--main-font);
    max-width: 55rem;
    font-size: 7.8rem;

}

.container-hero .container-hero--content a {
    font-family: var(--main-font);
    font-size: 3.2rem;
    display: block;
    width: 20rem;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 6px;
    background-color: var(--buttom-color);
    color: black;

}

.container-hero .container-hero--image {
    margin-right: 16px;
    margin-right: 10rem;
    align-self: flex-end;
    justify-self: flex-end;

}

.container-courses {
    width: 100%;
    height: 90vh;
    background-color: #fafafa;

}

.container-courses--title {
    font-family: var(--main-font);
    font-size: 3.6rem;
    color: balck;
    text-align: center;
    padding-top: 9rem
}

.container-courses .container-courses--list {
    width: fit-content;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-courses .container-courses--card {
    background-color: white;
    max-width: 30rem;
    padding: .5rem;
    box-shadow: .2rem .2rem .2rem  -.2rem black;

}

.container-courses .container-courses--card img {
    max-width: 29rem;
}

.container-courses .container-courses--card h3 {
    font-family: var(--main-font);
    font-size: 1.8rem;
    text-align: left;
    padding: .8rem 0 .8rem .5rem;
}

.container-courses .container-courses--card p {
    max-width: 30rem;
    padding: .5rem;
    font-family: var(--main-font);
    font-size: 1.6rem;
    color: #ccc;
    line-height: 2.2rem;
}



.container-courses .container-courses--link {
    font-family: var(--main-font);
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 1.6rem 3.6rem 1.6rem 3.6rem;
    margin: 6rem auto;
    margin-bottom: 1px;
    border-radius: .6rem;
    background-color: var(--buttom-color);

}

