@charset 'utf-8';

article a {
    color: red;
}

a > b {
    color: green;
}

h3 + p {
    background-color: yellow;
}

.destaque {
    padding-left: 2rem;
}

p:not(.destaque) {
    background-color: #ddd;
}

