@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  padding: 0;
  margin: 0; 
}

.cabecalho {
  background-color: yellow;
  background-image: url(./imagens/bg-3.jpg);
  background-size: cover;
  background-position: right center;
  text-align: center;
  color: white;
  height: 300px;
  margin: 0;
  padding: 0;
}

.cabecalho h1 {
    font-size: 48px;
    text-shadow: 2px 2px 2px balck;
    text-transform: uppercase;
}
.cabecalho p {
    width: 60%;
    min-height: 21px;
    margin-bottom: 10px;
    margin: auto;
    padding: 5px;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(0,0,0,0.7);
    border-bottom: 1px solid white;
}


header nav {
    text-align: right;
    height: 100px;
    padding: 20px;
}

header nav ul li {
    display: inline-block;
    list-style: none; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid white;
    font-size:12px;
}

header nav ul li a:hover {
    text-decoration: underline;
    background-color: rgba(0,0,0,0.5);
    border: none;
}

main {
    width: 90vw;
    min-width: 350px;
    max-width: 860px;
    margin: auto;
}

section {
    background-color: white;
    margin: 16px; 
    padding: 16px;
}

h2 {
    font-family: sans-serif;
    font-size: 32px;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid black;
    margin: 5px;   
    padding: 10px ;

}

.text {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn {  
    background-color: #cdc7c3 ;
    display: block;
    padding: 12px; 
    border-radius: 6px;
    margin-left: auto;
    width: fit-content;
    text-align: center;
    text-decoration: none;
}

footer {
    height: 30px;
    background-color: gray;
    color: white;

}

footer p {
    text-align: center;
    padding: 5px;
}

