@charset 'utf-8';

body {
    font-family: sans-serif;
}

table {
    width: 80%; 
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    background-color: beige;
    box-shadow: 2px 2px 5px black;
}

caption {
    padding: 16px;
}

table thead {
    background-color: green;
}

thead th {
    padding: 5px;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

.gray {
    background-color: rgb(190,190, 155);
}
