@charset 'utf-8';

#exemplo {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
}
.preto {
    background-color: black;
    color: white;
}
.verde {
    background-color: green;
    color: balck;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}
