@charset 'utf-8';

/*
 #292B2D cinza escuro 
  */
html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ccc;
    background-image: url(../imagens/bg-2.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 960px;
    margin: auto;
}       


.title {
    color: white;
    font-size: 58px;
    text-align: center;
    text-shadow: 0 5px 8px black;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 18px;
    background-color: #292b2d; 
    color: white;
    padding: 16px; 
    width: fit-content;
    border-bottom: 1px solid white;
    text-align: center;
    margin: auto;
}

.container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.container .container-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .container-cards {
    margin: 16px;
    height: 200px;
    flex: 1;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card01 {
    background-image: url(../imagens/card_01.png);
    background-size: cover;
    background-position: center;
}

.card02 {
    background-image: url(../imagens/card_02.jpg);
    background-size: cover;
    background-position: center;
}

.card03 {
    background-image: url(../imagens/card_03.jpg);
    background-size: cover;
    background-position: center;
}

.card04 {
    background-image: url(../imagens/card_04.jpg);
    background-size: cover;
    background-position: center;
}

.card05 {
    background-image: url(../imagens/card_05.jpg);
    background-size: cover;
    background-position: center;
}

.container-card--title {
    font-size: 14px;
    color: white;
    background-color: #292b2d;
    padding: 8px;
    margin: 0;

}
