@charset "utf-8";

body {
    background-color: #00feff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}       

h1 {
    font-size: 24px;
    color: #315758;
    margin-bottom: 15px;

}

img {
    width: 70px;
    border-radius: 35px;
}

.container {
    background-color: white;
    width: 500px;
    height: 350px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

ul {
    list-style: none;
    margin-top:0;
    margin-bottom:0;
    padding: 0;
}

.photo {
    padding: 10px;
    margin-bottom: 5px;
}
   
li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li div {
    margin: 0;
    padding-bottom: 10px;
}
.contact-list p {
    margin: 0;
    margin-left: 15px;

}

.contact-list li {
    border-bottom: 1px solid #ccc;
}

.username {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #585d58;
    margin: 0;
}

.email {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #ccc;
    margin: 5px 0 0;
}

.information {
    display: flex;
    margin:0;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

li:hover {
    color: white;
    background-color: #e8e8e8;
}

.icons {
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    align-items: center;
    opacity: 0;
    display: flex;
}

.icons img {
    width: 15px;
}

li:hover .icons {
    opacity: 0.3;
}
